@media (max-width: 768px) {
    body {
        background-position-x: center;
    }
}
@media (min-width: 769px) {
    body {
        background-size: cover;
    }
}
body {
    padding-top: 20px;
    background-image: url("Optimized-trees.jpg");
    background-attachment: fixed;
}
	.animate {
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	.info-card {
		width: 100%;
		border: 1px solid rgb(215, 215, 215);
		position: relative;
        font-family: "Roboto", sans-serif;
		margin-bottom: 20px;
		overflow: hidden;
	}
	.info-card > img {
		width: 100px;
		margin-bottom: 43px;
	}
	.info-card .info-card-details,
	.info-card .info-card-details .info-card-header  {
		width: 100%;
		height: 100%;
		position: absolute;
		bottom: -100%;
		left: 0;
		padding: 0 15px;
		background: rgb(255, 255, 255);
		text-align: center;
	}
	.info-card .info-card-details::-webkit-scrollbar {
		width: 8px;
	}
	.info-card .info-card-details::-webkit-scrollbar-button {
		width: 8px;
		height: 0px;
	}
	.info-card .info-card-details::-webkit-scrollbar-track {
		background: transparent;
	}
	.info-card .info-card-details::-webkit-scrollbar-thumb {
		background: rgb(160, 160, 160);
	}
	.info-card .info-card-details::-webkit-scrollbar-thumb:hover {
		background: rgb(130, 130, 130);
	}           

	.info-card .info-card-details .info-card-header {
		height: auto;		
		bottom: 100%;
		padding: 10px 5px;
	}
	.info-card:hover .info-card-details {
		bottom: 0px;
		overflow: auto;
		padding-bottom: 25px;
	}
	.info-card:hover .info-card-details .info-card-header {
		position: relative;
		bottom: 0px;
		padding-top: 45px;
		padding-bottom: 25px;
	}
	.info-card .info-card-details .info-card-header h1,	
	.info-card .info-card-details .info-card-header h3 {
		color: rgb(62, 62, 62);
        font-family: "Roboto", sans-serif;
		font-size: 22px;
		font-weight: 900;
		margin: 0 !important;
		padding: 0 !important;
	}
    .info-card-details a {
        color: #000000;
    }
    .info-card-details a:hover {
        text-decoration: none;
        letter-spacing: 2px;
        color: #9d9d9d;
    }
.navbar-custom {
    background: none;
    border: none;
    font-family: "Roboto", sans-serif;
    color: white; 
}
.navbar-custom a.text-white:hover, .navbar-custom .navbar-right a.text-white:hover {
    color: #9d9d9d;
}
.bg-black a:hover {
    color: #9d9d9d;
}
.bg-black a {
    color: white;
}
.icon {
    font-size: 3.0rem;
}
.navbar-custom .text-white, .navbar-custom .navbar-right a.text-white {
    color: white;
}
.navbar-custom-brand {
    letter-spacing: 3px;
}
.tall {
    height: 400px;
}
.intro {
    margin-top: 100px;
    margin-left: 20px;
    padding-top: 1px;
}
.transparent {
    background-color: rgba(195, 195, 195, 0.3);
}
.text-playfair {
    font-family: "Roboto", sans-serif;
}
.text-white {
    color: white;
}
a.text-white:hover {
    color: #9d9d9d;
    text-decoration: none;
}
.bg-black {
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}
.headshot {
    border-radius: 15%;
    max-width: 150px;
}
.about {
    padding-top: 50px;
    padding-bottom: 50px;
}
.portfolio {
    padding-top: 50px;
    padding-bottom: 50px;
}
.form-control:focus {
    border-color: #696969;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(195, 195, 195, 0.6);
}
.text-right {
    text-align: right;
}
.blink-me {
    animation: blinker .75s linear infinite;
}
@keyframes blinker {
    50% { opacity: 0; }
}
.text-console {
    font-family: "Lucida Console", Monaco, monospace;
}
.heading {
    margin-bottom: 20px;
}
.thumbnail-custom {
    background-color: rgba(195, 195, 195, 0.3);
    border: none;
}
.thumbnail-custom:hover {
    background-color: rgba(195, 195, 195, 1.0);
}
progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    height: 20px;
    color: blue;
}
progress[value]::-webkit-progress-value {
  background-image:
  
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #e96443, #904e95);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
progress[value]::-moz-progress-bar { 
  background-image:
    -moz-linear-gradient(
      135deg, 
      transparent 33%, 
      rgba(0, 0, 0, 0.1) 33%, 
      rgba(0, 0, 0, 0.1) 66%, 
      transparent 66% 
    ),
    -moz-linear-gradient(
      top, 
      rgba(255, 255, 255, 0.25), 
      rgba(0, 0, 0, 0.25)
    ),
    -moz-linear-gradient(
      left, 
      #e96443, 
      #904e95
          );

  border-radius: 2px; 
  background-size: 35px 20px, 100% 100%, 100% 100%; 
}

.flex {
    display: flex;
    justify-content: center;
}